*,
*::after,
*::before
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root
{
    font-size: 16px;
}
body{
    margin: .5rem;
    background-color: rgb(223, 206, 206);
    font-family: 'Berkshire Swash', cursive;
}
header
{
    display: flex;
    justify-content: space-evenly;
    justify-items: center;
    
}
header > h1
{
    font-size: 1rem;
   
}
nav{
    background-color: gray;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    overflow: hidden;

    transform: translateY(-100%);
    transition:transform .5s ease;
}

nav:target
{
    transform: translateY(0);
}
nav ul 
{
    list-style-type: none;

}

nav ul li
{
    background-color: gray;
}
nav ul li a
{
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    background-color: gray;
    color: rgb(245, 245, 245);
    padding:1rem;
}
nav ul li:hover, nav ul li a:hover
{
    background-color: rgb(83, 84, 141);
    color:whitesmoke;
    font-weight: bold;
}


a.menu, a.logo
{
    display: block;
    font-size: 1.5rem;
    width: 3rem;
}
a.close
{
    font-size: 1.5rem;
    display: block;
    
}

/****************************  Section main ****************************/
section.main
{
    margin-top: 2rem;
}
ul.java
{
    margin-left: 1rem;
    list-style-image: url('star.png');
}
ul.java ul li
{
    margin-left: 2rem;
}
ul.java ul
{
    display: none;;
}

/* show sub lectures of java */
ul.java ul:target
{
    display: block;
}
ul.compiler
{
    margin-left: 1rem;
    list-style-image: url('star.png');
}
ul.compiler ul li
{
    margin-left: 2rem;
}
ul.compiler ul
{
    display: none;;
}

ul.compiler ul:target
{
    display: block;
}

/* remove decoration from links within articles */

section > article > ul  a
{
    text-decoration: none;
}

/* apply some top margin on all li */

section > article li
{
    margin-top: .5rem;;
}

@media screen and (min-width:700px)
{
    nav{
       transform: translateY(0);
    }
    nav ul 
    {
        text-align: center;
    }
    
    nav ul li
    {
        display: inline-block;
        background-color: white;
    }
    nav ul li a{
        display: inline-block;
        background-color: gray;
    }
    a.close, a.menu{
        display: none;
    }
}
